<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <link  href="../../bootstrap/css/bootstrap.css" rel="stylesheet" >
    <script src="../../bootstrap/js/bootstrap.js"></script>
    <script src="../../js/lib/angular.js"></script>
    <script src="../../js/angularjs/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
    <div class="page-header">
        <div class=""></div>
    </div>

    <div class="container">
        <p>Nothing here {{'yet' + '!'}}</p>
        <p>5 + 3 = {{5 + 3}}</p>

        <p>智能机种类：{{phones.length}}</p>
        <ul class="list-inline">
            <li ng-repeat="phone in phones" class="">
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>

        <table class="table">
            <tr><th>row number</th><th ng-repeat="i in nums">{{i}}</th></tr>
            <tr><td>numbers</td><td ng-repeat="i in nums">{{i}}</td></tr>
        </table>
    </div>

</body>
</html>