#move {height: 50px;width: 70px;margin-left:0px;background-color:red}

#chunkDiv {height: 20px;width: 100%;margin-left:0px;background-color:#69A2F0}

#dragging {height: 50px;width: 70px;margin-left:0px;background-color:red;position:absolute}